.outputScreen {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--text-screen-color);
  padding-right: var(--default-padding);
  background-color: var(--screen-bckgd);
  width: var(--board-width);
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  height: 60px;
}
